---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";

const images = await Astro.glob("/src/stickers/*").then((files) => {
  return files.map((file) => file.default).reverse();
});
---

<Layout title="woof">
  <main>
    <h1 class="text-4xl m-4 font-bold">woof woof bark bark</h1>

    <div id="domainSaleText" style="display: none;">
      <p class="m-4">this domain is for sale <a href="https://sedo.com/search/details/?domain=vt.dog&origin=domaindetails" class="text-blue-500 hover:underline" target="_blank">here</a> btw</p>
      <p class="m-4">new domain for this page is <a href="https://puppy.arti.lol" target="_blank" class="text-blue-500 hover:underline">puppy.arti.lol</a></p>
    </div>

    <div
      class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 3xl:grid-cols-7 justify-items-center mt-2"
    >
      {
        images.map((image) => (
          <div class="flex flex-col items-center justify-center gap-2 relative">
            <a
              href={image.src}
              download
              class="absolute -top-2 -right-2 w-8 h-8 text-white bg-zinc-600/60 rounded-md flex items-center justify-center hover:bg-zinc-600 transition-all z-10"
              aria-label="Download image"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-download"
              >
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="7 10 12 15 17 10" />
                <line x1="12" x2="12" y1="15" y2="3" />
              </svg>
            </a>

            <Picture
              formats={["avif", "webp"]}
              class="object-contain h-full w-48 rounded-lg"
              src={image}
              alt=""
            />
          </div>
        ))
      }
    </div>
  </main>

  <footer class="mt-4">
    <div class="text-md text-center">
      <p>
        with ❤️ by <a href="https://arti.gay" class="underline text-blue-300"
          >arti</a
        >
      </p>
      <p>
        images from <a
          href="https://store.line.me/stickershop/author/18378/en"
          class="underline text-blue-300">JOYNET</a
        >
      </p>
    </div>
  </footer>

<script>
document.onload = function() {
  const domainSaleTextElement = document.getElementById('domainSaleText');
  if (domainSaleTextElement) {
    const currentHostname = window.location.hostname;
    if (currentHostname === 'vt.dog' || currentHostname === 'www.vt.dog') {
      domainSaleTextElement.style.display = 'block';
    }
  }
}
</script>
</Layout>
