---
import Layout from "../layouts/Layout.astro";

const images = await Astro.glob("/src/doggirl/*").then((files) => {
  return files.map((file) => file.default);
});
---

<Layout title="woof">
  <main>
    <button
      class="hover:scale-110 transition-transform"
      aria-label="Click to bark"
    >
      <h1 class="text-4xl m-4 font-bold">woof woof bark bark</h1>
    </button>
    <div
      class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 3xl:grid-cols-7 justify-items-center mt-2"
    >
      {
        images.map((image) => (
          <div class="flex flex-col items-center justify-center gap-2 relative">
            <a
              href={image.src}
              download
              class="absolute -top-2 -right-2 w-8 h-8  text-white bg-zinc-600 bg-opacity-60 rounded-md flex items-center justify-center hover:bg-blue-700 transition-all z-10"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-download"
              >
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                <polyline points="7 10 12 15 17 10" />
                <line x1="12" x2="12" y1="15" y2="3" />
              </svg>
            </a>
            <img
              class="object-contain h-full w-48 rounded-lg"
              src={image.src}
              alt=""
              loading="lazy"
            />
          </div>
        ))
      }
    </div>
  </main>

  <footer class="mt-4">
    <div class="text-md text-center">
      <p>
        with ❤️ by <a href="https://arti.gay" class="underline text-blue-300"
          >arti</a
        >
      </p>
      <p>
        images from <a
          href="https://store.line.me/stickershop/author/18378/en"
          class="underline text-blue-300">JOYNET</a
        >
      </p>
      <p>
        barking from
        <a href="https://youtu.be/BfSmr4IaLsY" class="underline text-blue-300"
          >Kaustysaur</a
        >
      </p>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const button = document.querySelector("button");
      if (!button) return;
      button.addEventListener("click", onClick);
    });

    async function onClick() {
      const barks = ["/bark1.mp3", "/bark2.mp3", "/bark3.mp3", "/bark4.mp3"];
      const randomIndex = Math.floor(Math.random() * barks.length);
      const randomBark = barks[randomIndex];

      // i LOVE web audio
      const audioContext = new (window.AudioContext ||
        (window as any).webkitAudioContext)();
      const audio = new Audio(randomBark);
      audio.volume = 0.5;
      const source = audioContext.createMediaElementSource(audio);
      source.connect(audioContext.destination);

      try {
        if (audioContext.state === "suspended") {
          await audioContext.resume();
        }

        await new Promise((resolve, reject) => {
          audio.addEventListener("canplaythrough", resolve, { once: true });
          audio.addEventListener("error", reject, { once: true });
          audio.load();
        });

        await audio.play();

        await new Promise((resolve) => {
          audio.addEventListener("ended", resolve, { once: true });
        });
      } catch (error) {
        console.error("Audio playback failed:", error);
      }
    }
  </script>
</Layout>
